/*--- TABLERO 
 */
.tablero{
    background-color: grey;
    padding: 1em;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.tablero div{
	background: white;
  min-height: 2em;
  min-width: 2em;
  border: 0.1em solid black;
}

/*---  RETICULA
 */
.areaJuego {
  grid-area: areaJuego;
  background: blue;
  text-align: center;
}

.arrastrables {
  grid-area: arrastrables;
  background: red;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'areaJuego arrastrables'; 
} 

/*--- FICHAS
 */
.ficha{
  display: inline-block;
  transition: all 1s;
}

#ficha-1{
  width: 262px;
  height: 143px;
  background-image: url("slice_0_0.png");
}
#ficha-2{
  width: 303px;
  height: 143px;
  background: url('slice_0_1.png');
}
#ficha-3{
  width: 260px;
  height: 143px;
  background: url('slice_0_2.png');
}
#ficha-4{
  width: 262px;
  height: 156px;
  background: url('slice_1_0.png');
}
#ficha-5{
  width: 303px;
  height: 156px;
  background: url('slice_1_1.png');
}
#ficha-6{
  width: 260px;
  height: 156px;
  background: url('slice_1_2.png');
}
#ficha-7{
  width: 262px;
  height: 165px;
  background: url('slice_2_0.png');
}
#ficha-8{
  width: 303px;
  height: 165px;
  background: url('slice_2_1.png');
}
#ficha-9{
  width: 260px;
  height: 165px;
  background: url('slice_2_2.png');
}
