# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Principales Darius\Documentos\Repos\DAW2\DWEBS\Ejercicios\Node\ApiRestToken\ConsumirAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
