.tablero{
    background-color: grey;
    padding: 1em;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5em; 
}

.tablero div{
	border: 0.2em solid black;
	width: 10em;
	height: 10em;
}
