/*Colores*/
:root {
    --color-inactivo: #5f5050;
    --color-hover: #ffa400;
    --main-color: #33cccc;
    --main-color-dark: #00ace6;
    --main-color-light: #85e0e0;
    --secondary-color: #cc99ff;
    --secondary-color-light: #dab3ff;
    --secondary-color-dark: #dab3ff;
}

body {
    background-color: var(--main-color-light);
}

/*Estrellas*/
.valoracion {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}
.valoracion li {
    background-color: initial;
    border: 0;
    color: var(--color-inactivo);
    transition: 0.2s;
}
.valoracion li:hover {
    cursor: pointer;
    color: var(--color-hover);
}
li:nth-child(1):hover ~ li {
    color: var(--color-hover);
}
li:nth-child(2):hover ~ li {
    color: var(--color-hover);
}
li:nth-child(3):hover ~ li {
    color: var(--color-hover);
}
li:nth-child(4):hover ~ li {
    color: var(--color-hover);
}
li:nth-child(5):hover ~ li {
    color: var(--color-hover);
}

/*Navbar*/
/* Basado en w3Schools */
.topnav {
    background-color: var(--main-color);
    overflow: hidden;
}

.topnav a {
    transition: 0.5s ease;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .fl {
    float: left;
}

.topnav .fr {
    float: right;
}

.topnav input {
    margin: 4% !important;
}

.topnav a:hover {
    background-color: var(--main-color-dark);
    color: black;
}

.topnav a.active {
    background-color: var(--main-color-dark);
    color: black;
}

/*Imagenes*/
.imgLugar {    
    border:solid black;
}

/*Clase para la lista de viajes*/
.list {
    margin: 5% 0;
    text-align: center;
}

/*Clases para cada viajes*/
.viaje {
    text-decoration: none;
    width: 85%;
}

.viaje > p {
    margin: 0 !important;
    color: white;
}

.contViaje {
    text-align: center;
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #6d6d46;
    background-color: var(--main-color-dark);
    padding: 15px;
}

/*Clase para los itinerarios*/
.itinerario {
    margin-bottom: 10%;
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #6d6d46;
    background-color: var(--main-color-dark);
    padding: 15px;
}

.itinerario > a > img {
    width: 50%;
    float: left;
    margin-right: 5%;
}

.itinerario > p {
    display: inline;
}

/*Clase de caja estandar*/
.normalBox {
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #6d6d46;    
    padding: 15px;
}

/*Clases de la pagina de un itinerario*/
.itiInfo {
    margin-bottom: 5%;    
}

.itiInfo > img {
    width: 50%;
    float: left;
    margin-right: 5%;
}

.itiInfo > p {
    display: inline;
}

.comentarios {
    margin-bottom: 5%;
}

/*Formularios*/
form {
    text-align: center;
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #6d6d46;
    background-color: var(--main-color-dark);
    padding: 10px;
}

.button-primary {
    background-color: var(--main-color) !important;
    transition: 0.5s !important;
}

.button-primary:hover {
    background-color: var(--main-color-light) !important;    
}

/*Mis colulmnas*/
/*Para tablet*/
.one-md.column,
.one-md.columns                    { width: 4.66666666667%; }
.two-md.columns                    { width: 13.3333333333%; }
.three-md.columns                  { width: 22%;            }
.four-md.columns                   { width: 30.6666666667%; }
.five-md.columns                   { width: 39.3333333333%; }
.six-md.columns                    { width: 48%;            }
.seven-md.columns                  { width: 56.6666666667%; }
.eight-md.columns                  { width: 65.3333333333%; }
.nine-md.columns                   { width: 74.0%;          }
.ten-md.columns                    { width: 82.6666666667%; }
.eleven-md.columns                 { width: 91.3333333333%; }
.twelve-md.columns                 { width: 100%; margin-left: 0; }

/*Para desktop*/
.one-lg.column,
.one-lg.columns                    { width: 4.66666666667%; }
.two-lg.columns                    { width: 13.3333333333%; }
.three-lg.columns                  { width: 22%;            }
.four-lg.columns                   { width: 30.6666666667%; }
.five-lg.columns                   { width: 39.3333333333%; }
.six-lg.columns                    { width: 48%;            }
.seven-lg.columns                  { width: 56.6666666667%; }
.eight-lg.columns                  { width: 65.3333333333%; }
.nine-lg.columns                   { width: 74.0%;          }
.ten-lg.columns                    { width: 82.6666666667%; }
.eleven-lg.columns                 { width: 91.3333333333%; }
.twelve-lg.columns                 { width: 100%; margin-left: 0; }


.container {
    max-width: initial !important;
}

/*Media querys*/
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .valoracion {
        font-size: 40px;
        margin-top: 1rem;
    }

    .one-lg.column,.one-lg.columns,
    .two-lg.columns,.three-lg.columns,
    .four-lg.columns,.five-lg.columns,
    .six-lg.columns,.seven-lg.columns,
    .eight-lg.columns,.nine-lg.columns,
    .ten-lg.columns,.eleven-lg.columns,
    .twelve-lg.columns {display: none;}

    .one-md.column,.one-md.columns,
    .two-md.columns,.three-md.columns,
    .four-md.columns,.five-md.columns,
    .six-md.columns,.seven-md.columns,
    .eight-md.columns,.nine-md.columns,
    .ten-md.columns,.eleven-md.columns,
    .twelve-md.columns {display: none;}

    .one.column,.one.columns,
    .two.columns,.three.columns,
    .four.columns,.five.columns,
    .six.columns,.seven.columns,
    .eight.columns,.nine.columns,
    .ten.columns,.eleven.columns,
    .twelve.columns {display: block;}

    .column, .columns {margin-left: 2%;}
}

/* Larger than tablet */
@media (min-width: 750px) {

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .valoracion {
        font-size: 15px;
        margin-top: 4rem;
    }

    .one-lg.column,.one-lg.columns,
    .two-lg.columns,.three-lg.columns,
    .four-lg.columns,.five-lg.columns,
    .six-lg.columns,.seven-lg.columns,
    .eight-lg.columns,.nine-lg.columns,
    .ten-lg.columns,.eleven-lg.columns,
    .twelve-lg.columns {display: none;}

    .one-md.column,.one-md.columns,
    .two-md.columns,.three-md.columns,
    .four-md.columns,.five-md.columns,
    .six-md.columns,.seven-md.columns,
    .eight-md.columns,.nine-md.columns,
    .ten-md.columns,.eleven-md.columns,
    .twelve-md.columns {display: block;}

    .one.column,.one.columns,
    .two.columns,.three.columns,
    .four.columns,.five.columns,
    .six.columns,.seven.columns,
    .eight.columns,.nine.columns,
    .ten.columns,.eleven.columns,
    .twelve.columns {display: none;}
}

/* Larger than desktop */
@media (min-width: 1000px) {
    
    .topnav a:not(:first-child) {
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: none;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .valoracion {
        font-size: 15px;
        margin-top: 4rem;
    }

    .one-lg.column,.one-lg.columns,
    .two-lg.columns,.three-lg.columns,
    .four-lg.columns,.five-lg.columns,
    .six-lg.columns,.seven-lg.columns,
    .eight-lg.columns,.nine-lg.columns,
    .ten-lg.columns,.eleven-lg.columns,
    .twelve-lg.columns {display: block;}

    .one-md.column,.one-md.columns,
    .two-md.columns,.three-md.columns,
    .four-md.columns,.five-md.columns,
    .six-md.columns,.seven-md.columns,
    .eight-md.columns,.nine-md.columns,
    .ten-md.columns,.eleven-md.columns,
    .twelve-md.columns {display: none;}

    .one.column,.one.columns,
    .two.columns,.three.columns,
    .four.columns,.five.columns,
    .six.columns,.seven.columns,
    .eight.columns,.nine.columns,
    .ten.columns,.eleven.columns,
    .twelve.columns {display: none;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
