<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calculadora
    body
        h2 Calculadora
        form(action="operar", method="POST")            
            p
                input(type="text",name="caja1",placeholder="Escribe un numero",required)
            p
                input(type="text",name="caja2",placeholder="Escribe un numero",required)
                            
            input(name="op" type="submit",value="+")           
            input(name="op" type="submit",value="-")           
            input(name="op" type="submit",value="*")           
            input(name="op" type="submit",value="/")           