<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rutas y formularios
    body
        form(action="validar", method="POST")
            input(type="text",name="nombre",placeholder="Escribe un nombre...")
            br
            input(type="submit",value="Enviar")