<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rutas y formularios
    body
        h1!= nombre
        form(action="buscar", method="POST")
            input(type="text",name="dni",placeholder="DNI a buscar...")
            br
            input(type="submit",value="Enviar")