<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tabla de multiplicar
    body        
        h2 Tabla de multiplicar
        form(action="calcular", method="POST")
            input(type="text",name="caja",placeholder="Escribe un numero")
            input(type="submit",value="Enviar")