<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Datos del formulario
    body
        h1 Venimos de validar el formuario.
        p!= nombre