#imagenRedimensionada{
    width: 30%;    
    margin: 0 auto;
    display: block; /* La imagen es un elemento in-line (https://www.w3schools.com/html/html_blocks.asp)
    				   si no le pongo block el margin 0 auto no tendrán efecto pues no hay espacio alrededor 
    				   */
}

@media only screen and (max-width: 500px) 
{
    #imagenRedimensionada{
        width: 250px; /* Luego lo cambiais a 100px */    
    }
}

