/*--- CODIGO GENERAL DE LA PLANTILLA ---*/
* 
{
    box-sizing: border-box;
}
.row::after 
{
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] 
{
    float:left;
    padding: 10px;
}
[class*="col-"] 
{
    width: 100%;
}

@media only screen and (min-width: 500px) 
{
    .col-m-1 {width: 20%;}
    .col-m-2 {width: 40%;}
    .col-m-3 {width: 60%;}
    .col-m-4 {width: 80%;}
    .col-m-5 {width: 100%;}

}

@media only screen and (min-width: 768px) 
{
    
    .col-1 {width: 20%;}
    .col-2 {width: 40%;}
    .col-3 {width: 60%;}
    .col-4 {width: 80%;}
    .col-5 {width: 100%;}
}
